<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Moja biblioteka</title>
</head>
<body>
  <h1>Dodaj książkę</h1>
  <form method="post" action="/users">
    <p>
      <label for="title">Tytuł:</label>
      <input type="text" id="title" name="title">
    </p>
    <p>
      <label for="author">Autor:</label>
      <input type="text" id="author" name="author">
    </p>
    <button type="submit">Dodaj</button>
  </form>
</body>
</html>